
<div class="row">
  <%= link_to "Add Chairs Manager", new_chairs_manager_path %>
</div>

<div class="row">

  <div class="col-md-12">
    <table id="chairs" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>URL</th>
          <th>Available Chairs</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @chairs_managers.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><code><%= item.url %></code></td>
            <td><%= item.available_chairs %></td>
            <td>
              <%= link_to "Edit", edit_chairs_manager_path(item), class: 'btn btn-primary' %>
              <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, chairs_manager_path(item),
                            class: 'btn btn-primary',
                              method: :delete,
                              data: { confirm: "Are you sure that you want to delete #{item.name}?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<hr/>
